 .v-application {
  background: #285cb1 !important;
}

.v-text-field input,
.v-textarea textarea,
.v-autocomplete .v-input__control {
  border-radius: 5px;
}

.v-autocomplete .v-field__input {
  border-radius: 5px;
}

.v-textarea .v-field__field,
.v-textarea .v-field__input,
.v-textarea .v-input__control {
  border-radius: 5px;
}

.finish-btn {
  height: 45px !important;
  min-height: 45px !important;
  font-size: 16px !important;
  font-weight: bold !important;
}

.finish-btn:hover {
  background-color: #4caf50 !important; 
}

#mainContainer {
  border-radius: 8px;
  background-color: #3b6ab4 !important;
}

.v-card {
  border-radius: 8px;
  background-color: #285cb1 !important;
}